textarea {
    height: 150px;
    width: 220px; /* 横幅を固定 */
    max-width: 100%;
    box-sizing: border-box;
    resize: vertical;
}
#title {
    cursor: pointer;
}
.center {
    text-align: center;
}
#tooltitle {
    font-size: 3em;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    color: #333;
    margin-top: 16px;
}

#seats {
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}
.seat {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 3px;
    margin: 5px;
    text-align: center;
    min-width: 0;
    min-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    cursor: pointer;
    font-size: 1.5em;
}
.seat[use="true"] {
    background-color: lightgreen;
}
.dist {
    padding: 10px;
    padding-left: 0;
}